# Auth and JWT Settings
JWT_SECRET=u32473857324985724893245845823034585753454275894754382345873245824375
# Opcional: si quieres limitar registros a un dominio (ej: @etec.edu.ar), ponlo aquí. Si está vacío, cualquiera puede registrarse.
ALLOWED_EMAIL_DOMAINS=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=521943996759-mapi9a0sl3njd00vfi28eqi51gv5dpkd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXT_PUBLIC_APP_URL=http://localhost:3000
